/*
COLORS USED:
orange: #f39530
dark green: #006B5F
washed out green: #62BAAC
black
white

FONTS AVAILABLE:
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* font-family: 'Inter', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Patua One', cursive; */

/*CSS STYLING FOR ALL PAGES*/
/*SET BOX-SIZING TO BORDER-BOX FOR ALL ELEMENTS*/

/* start test */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 53.48px;
}

header {
    background-color: #080911;
    padding: 10px 0 4px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 2;
}

.inline-block {
    display: inline-block;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

/*START OF NAVIGATION STYLING*/


nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li {
    list-style-type: none;
    margin: 0 5px;
}

nav>ul>li>a{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: white;

    position: relative;
    z-index: 1;
    overflow: hidden;
}

nav>ul>li>a:hover {
    color: white;
}

.navtoggle li:not(:last-child) {
    display: none;
}

/*hide navigation items except for menu icon*/

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
}

/*keeps hamburger icon at the top right*/

.navtoggle.responsive nav {
    padding: 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    text-align: right;
}

/*shows the menu*/

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

/* sets bottom padding to 10px */

button {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #000000;
    font-size: 1em;

    position: relative;
    z-index: 1;
    overflow: hidden;
    border: #000000;
  }

  button:hover {
    color: white;
    cursor: pointer;
  }

  button::after {
    content: "";
    background: #676BBE;
    position: absolute;
    z-index: -1;
    display: block;
  }

  button[class^="slide"]::after {
    transition: all 0.35s;
  }

  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  
  button.slide_from_bottom::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
  }

/*END OF NAVIGATION STYLING*/

footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

hr {
    border-top: 1px solid #EFEFEF;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
}

main {
    padding-top: 53.48px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.bg-purple {
    background-color: #EFEDFF;
    padding: 15px;
}

.bg-blue {
    background-color: #33C4E9;
}

.bg-white {
    background-color: white;
    padding: 15px;
}

.logo {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.no-margin {
    margin: 0;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 2.5em;
    color: #0D0051;
    text-align: center;
}

h2 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #0D0051;
    margin: 0;
    width: 100%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: #5E63BA;
}

h4,
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #0D0051;
    margin: 0;
}

a {
    color: #1F7489;
    font-weight: 700;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #33C4E9;
    text-decoration: underline;
}

button {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #000000;
    font-size: 1em;

    position: relative;
    z-index: 1;
    overflow: hidden;
    border: #000000;
}

button:hover {
    color: white;
    cursor: pointer;
}

button::after {
    content: "";
    background: #676BBE;
    position: absolute;
    z-index: -1;
    display: block;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}
  
button.slide_from_bottom::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.bold {
    font-weight: 600;
}

.gray {
    color: rgb(115, 115, 115);
}

/*CSS STYLING FOR index.html*/
#tagline {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    max-width: 1200px;
    margin: 20px auto;
    animation: fadeInAnimation 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: fadeInAnimation 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#intro {
    font-family: 'Patua One', cursive;
    font-size: 4em;
    color: #0D0051;
    max-width: 1200px;
    margin: 0 auto;
}

.name {
    background-image: linear-gradient(to right, #B7E5FF , #C3D1FE);
    background-position: left;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0.25em;
    transition-duration: 0.5s;
    transition-property: color;
}

.name:hover {
    background-image: none;
    color: white;
}

.dark {
    background-color: #0D0051;
    display: inline-block;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: all;
}

.dark:hover {
    background-color: rgb(13, 0, 81, 10%);
    /* box-shadow:0px 0px 0px 1px white inset; */
}

.inline {
    display: inline-block;
}

#hero {
    margin: 0;
    text-align: left;
    background-image: linear-gradient(to right, #B4F1FE , #E9B5FF);
    background-color: #B6C5FE;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#hero h1 {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #f39530;
    margin: 0 auto;
}

#hero p {
    margin: 0 0;
    display: inline-block;
}

.button-hero-sec {
    display: inline-block;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #0D0051;
    padding: 10px;
    border-radius: 50px;

    box-shadow:0px 0px 0px 3px white inset;
    text-decoration: none;
    text-transform: none;
    width: 140px;
    text-align: center;
    margin: 5px;   
    transition: 0.3s ease-in-out;
}

.button-hero-sec:hover {
    background-color: white;
    color:#0D0051;
    text-decoration: none;
}

.button-hero-prim {
    display: inline-block;
    background-color: #6962A8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
    padding: 10px;
    border-radius: 50px;

    text-decoration: none;
    text-transform: none;
    width: 140px;
    text-align: center;
    margin: 5px;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.button-hero-prim:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(13, 0, 81, 70%);
}

#work {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.proj {
    background-color: #ffffff;
    padding: 10px 10px;
}

.proj-line {
    height: 7px;
    width: 50%;
    max-width: 420px;
    background-color: #FEC66F;
    margin-bottom: 40px;
}

.no-padding {
    padding-top: 0;
}

.zoom{
    transition: all .2s;
}

.zoom:hover{
    transform: scale(1.01);
    background-color: #EFEFEF;
}

.bg-gray {
    background-color: #F5F5F5;
    padding: 15px;
}

/* CSS STYLING FOR about.html */
.headshot {
    max-width: 250px;
    margin: 0 auto;
}

.icon {
    max-width: 50px;
}

.headshot-center {
    text-align: center;
}

.caption {
    font-size: .8em;
    text-align: center;
}

/*CSS STYLING FOR peanuts.html*/
.shaded-box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    align-items: right;
}

.flex-container-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    width: 100%;
    flex-direction: row;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.percent {
    text-align: center;
    color: #5E63BA;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

.percent-blk {
    width: 40%;
    max-width: 315px;
    margin: 0 10px;
    vertical-align: top;
}

.small-text {
    font-size: .9em;
}

.xsmall-text {
    font-size: .7em;
}

.item-desc {
    width: 75%;
    margin: 0;
    max-width: 210px;
}

.item-img {
    width: 25%;
    max-width: 70px;
    margin: 0 10px 0 0;
}

.img-icon {
    width: 70px;
    margin: 0 10px;
}

.img-iphone {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.btm-margin {
    margin-bottom: .5em;
    line-height: 1.2em;
}

.wrap {
    display: inline-block;
}

.graph {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

/*Layout styling*/

.row {
    margin: 0 0;
    /* 0 top and bottom, 0 left and right */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*clears flow from floating columns*/

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-sm-1 {
    width: 25%;
}

.col-sm-2 {
    width: 50%;
}

.col-sm-3 {
    width: 75%;
}

.col-sm-4 {
    width: 100%;
}

.img-contrast-check {
    max-width: 400px;
}

/*====================
common screen size 360×800 (360 px and larger)
======================*/
@media only screen and (min-width: 360px) {
    #intro {
        font-size: 4.5em;
    }

    #tagline {
        font-size: 1.75em;
    }
}

/*====================
iPhone 12 390×844 (390 px and larger)
======================*/
@media only screen and (min-width: 390px) {
    #intro {
        font-size: 5em;
    }

    #tagline {
        font-size: 2em;
    }
}

/*====================
landscape
======================*/

@media (orientation: landscape) {
    .wrap-landscape {
        display: inline-block;
    }
}

/*====================
Medium devices (640 px and larger)
======================*/
@media only screen and (min-width: 640px) {

    .float-right-md {
        float: left;
    }

    #intro {
        padding-top: 54px;
        font-size: 15vh;
    }

    #tagline {
        font-size: 1.5em;
    }

    .flex-col {
        width: 20%;
        padding: 10px;
        display: block;
    }

    .flex-col-tools-md {
        width: 33.33%;
        display: block;
    }

    .item-desc {
        width: 100%;
        max-width: none;
    }

    .item-img {
        width: 50%;
        max-width: none;
        margin: 0 auto;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    header {
        text-align: unset;
        padding: 10px 0;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 0;
        line-height: 0;
    }

    main {
        padding-top: 53.48px;
    }

    #hero h1 {
        font-size: 4em;
    }

    body {
        font-size: 18px;
    }

    #about-page h3 {
        margin-top: 0;
    }

    nav>ul {
        margin: 6.37px 0;
    }

    nav>ul>li {
        display: inline-block;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.67%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-12 {
        width: 100%;
    }

    .headshot-center {
        text-align: unset;
        margin-right: 20px;
    }

    .img-icon {
        width: 85px;
        margin: 0 15px;
    }
}

/*====================
Large devices (1024 px and larger)
======================*/
@media only screen and (min-width: 1024px) {
    .wrap-landscape {
        display: block;
    }

    #tagline {
        font-size: 2em;
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.67%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .shaded-box-lg {
        height: 193px;
    }

    .process-lg {
        width: 154px;
    }

    .img-iphone {
        max-width: 350px;
    }

    .img-pref {
        max-width: 600px;
        margin: 0 auto;
    }

    .img-icon {
        width: 100px;
        margin: 0 30px;
    }
}

/*====================
X-large devices (1440 px and larger)
======================*/
@media only screen and (min-width: 1440px) {}